<style>
    textarea{width:80%;height:40%}
</style>
<textarea id="mySchema"></textarea>
<br>
<button onclick="generate()">generate
</button><br>
<textarea id="result">
</textarea>
<br>
<input type="file">

<script type="text/javascript" src="lib/jquery/dist/jquery.min.js"></script>
<script>
    function generate(){
        result.value="";
        var schema = eval("(" + document.getElementById("mySchema").value +")");
        $.each(schema, printMarkup);

        result.value += ('<div class="form-group">\n\
                <input type="submit" class="btn btn-default">\n\
                </div>\n\
        <div data-ng-show="error" class="text-danger">\n\
                <strong data-ng-bind="error"></strong>\n\
        </div>');
    }

    function printMarkup(field, type){
        var dataType = type.name || (type.type?type.type.name:"object");
        console.log(field,"-> ", dataType);
        var fieldName = field.replace(/[A-Z]/g, function(txt){return " "+txt })
        fieldName = fieldName[0].toUpperCase() + fieldName.substring(1);
        var container = document.getElementById("result");
        switch(dataType){
            case "String":

                result.value += ('<label class="form-group">'+ fieldName + '\n\
                            <div class="controls">\n\
                                <input type="text" data-ng-model="user.'+field+'" class="form-control" placeholder="'+fieldName+'">\n\
                            </div>\n\
                        </label>\n');
                break;
            case "Date":
                result.value += ('<label class="form-group input-group">'+ fieldName +
                            '\n<div class="input-group" data-ng-controller="datepickerPopupCtrl">\n\
                                <input datepicker-popup="yyyy-MM-dd" ng-focus="toggleOpen($event)" is-open="opened" close-text="Close"  type="text" data-ng-model="user.'+field+'" class="form-control" placeholder="'+fieldName+'">\n\
                                <span class="input-group-btn">\n\
                                        <button type="button" class="btn btn-default" ng-click="toggleOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>\n\
                                </span>\n\
                            </div>\n\
                        </label>\n');
                break;
            case "Boolean":
                result.value += ('<div class="checkbox">\n\
                                    <label>\n\
                                        <input type="checkbox" ng-model="user.'+ field +'"> '+fieldName+'\n\
                                    </label>\n\
                                </div>\n');
                break;
            case "object":
                result.value += ('<div oi-arrayfield model="user.' + field + '" type="text" title="' + fieldName + '"></div>\n');
                break;
        }



    }
    var TrimmedString = {type:String, trim:true};
    var Schema = {Types:{Mixed:{}}}

    var validateLocalStrategyProperty = function(property) {
        return ((this.provider !== 'local' && !this.updated) || property.length);
    };
    var validateLocalStrategyPassword = function(password) {
        return (this.provider !== 'local' || (password && password.length > 6));
    };
    function uploadFiles(url, files) {
        var formData = new FormData();

        formData.append("name", "file");
        formData.append("name1", "file1");

        for (var i = 0, file; file = files[i]; ++i) {
            formData.append(file.name, file);
        }


        var xhr = new XMLHttpRequest();
        xhr.open('POST', url, true);
        xhr.onload = function(e) { console.log("done"); };

        xhr.send(formData);  // multipart/form-data
    }

    document.querySelector('input[type="file"]').addEventListener('change', function(e) {
        uploadFiles('/server', this.files);
    }, false);
</script>



