<div class="well well-sm tsList clearfix" ng-if="user.projects.length">
    <h4>Timesheets</h4>
    <div ng-repeat="project in user.projects">
        <div class="panel panel-primary ">
            <div class="panel-heading clearfix">
				<a ng-if="isAdmin" href="#!/projects/{{project._id}}">{{project.vendor.name}}  -  {{project.client}}</a>
				<span ng-if="!isAdmin">{{project.vendor.name}}  -  {{project.client}}</span>
				<div class="pull-right">
					Joined: {{project.startDate | date}}
					<span ng-if="project.endDate">Ended: {{project.endDate | date}}</span>
				</div>
			</div>
            <div class="panel-body">
				<ul class="list-group">
                    <li class="list-group-item clearfix ts{{timesheet.status}}" ng-repeat="timesheet in project.timesheets | orderBy:'-start'">
                        <a ng-click="gotoTimesheet(user, project, timesheet)">{{timesheet.start | date}} to {{timesheet.end | date}}</a> Hours: {{getTotal(timesheet.daily)}} - {{timesheet.status}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="pull-right" ng-if="isAdmin">
        <a class="btn btn-primary" ng-click="addOne('newProjects')">
            <i class="glyphicon glyphicon-plus"></i> Add New Project
        </a>
    </div>
</div>