<section data-ng-controller="ProjectsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>{{action}} Project</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
				<label class="form-group">Consultant/User
					<div class="controls">
						<ui-select ng-model="project.user" choice-key="_id" model-key="project.user" theme="bootstrap" ng-disabled="disabled" >
							<ui-select-match placeholder="Select Consultant/User">{{$select.selected.displayName}}</ui-select-match>
							<ui-select-choices repeat="item._id as item in users | filter: $select.search">
								<div ng-bind-html="item.displayName | highlight: $select.search"></div>
								<small ng-bind-html="item.startDate | date"></small>
							</ui-select-choices>
						</ui-select>
					</div>
				</label>

                <label class="form-group">Vendor
                    <div class="controls">
                        <ui-select ng-model="project.vendor" choice-key="_id" model-key="project.vendor" theme="bootstrap" ng-disabled="disabled" >
                            <ui-select-match placeholder="Select Vendor">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="item._id as item in vendors | filter: $select.search">
                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                                <small ng-bind-html="item.website | highlight: $select.search"></small>
                            </ui-select-choices>
                        </ui-select>
                        <a href="#!/vendors/create">Not found in the list? create new</a>
                    </div>
                </label>

				<label class="form-group input-group" > Start Date
					<div class="input-group" data-ng-controller="datepickerPopupCtrl">
						<input datepicker-popup="yyyy-MM-dd" ng-focus="toggleOpen($event)" is-open="opened" close-text="Close"  type="text" data-ng-model="project.startDate" class="form-control" placeholder="Start Date" />
                        <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="toggleOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
					</div>
				</label>

				<label class="form-group input-group" > End Date
					<div class="input-group" data-ng-controller="datepickerPopupCtrl">
						<input datepicker-popup="yyyy-MM-dd" ng-focus="toggleOpen($event)" is-open="opened" close-text="Close"  type="text" data-ng-model="project.endDate" class="form-control" placeholder="Start Date" />
                        <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="toggleOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
					</div>
				</label>


                <label class="form-group">Timesheet Cycle
                    <div class="controls">
                        <ui-select ng-model="project.timesheetCycle" theme="bootstrap">
                            <ui-select-match placeholder="Select Timesheet Cycle">{{$select.selected}}</ui-select-match>
                            <ui-select-choices repeat="item in globalLists.timesheetCycles | filter: $select.search">
                                <div ng-bind-html="item | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </label>

                <label class="form-group input-group" ng-if="project.timesheetCycle==='Bi-Weekly'">Week Start Date
                    <div class="input-group" data-ng-controller="datepickerPopupCtrl">
                        <input datepicker-popup="yyyy-MM-dd" ng-focus="toggleOpen($event)" is-open="opened" close-text="Close"  type="text" data-ng-model="project.weekStartDay" class="form-control" placeholder="Week Start Date">
                        <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="toggleOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </label>

                <div class="form-group input-group" ng-if="project.timesheetCycle==='Weekly'">
                    Week Start Day
					<label class="radio-inline">
						<input data-ng-model="project.weekStartDay" type="radio" value="Saturday"> Saturday
					</label>
					<label class="radio-inline">
						<input data-ng-model="project.weekStartDay" type="radio" value="Sunday"> Sunday
					</label>
					<label class="radio-inline">
					<input data-ng-model="project.weekStartDay" type="radio" value="Monday"> Monday
                    </label>
                </div>


				<label class="form-group">Invoice Cycle
					<div class="controls">
						<ui-select ng-model="project.invoiceCycle" theme="bootstrap">
							<ui-select-match placeholder="Select Invoice Cycle">{{$select.selected}}</ui-select-match>
							<ui-select-choices repeat="item in globalLists.invoiceCycles | filter: $select.search">
								<div ng-bind-html="item | highlight: $select.search"></div>
							</ui-select-choices>
						</ui-select>
					</div>
				</label>

				<label class="form-group input-group" ng-if="project.invoiceCycle==='Bi-Weekly'">Week Start Date
					<div class="input-group" data-ng-controller="datepickerPopupCtrl">
						<input datepicker-popup="yyyy-MM-dd" ng-focus="toggleOpen($event)" is-open="opened" close-text="Close"  type="text" data-ng-model="project.invoiceWeekStartDay" class="form-control" placeholder="Week Start Date">
                        <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="toggleOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
					</div>
				</label>

				<div class="form-group input-group" ng-if="project.invoiceCycle==='Weekly'">
					Week Start Day
					<label class="radio-inline">
						<input data-ng-model="project.invoiceWeekStartDay" type="radio" value="Saturday"> Saturday
					</label>
					<label class="radio-inline">
						<input data-ng-model="project.invoiceWeekStartDay" type="radio" value="Sunday"> Sunday
					</label>
					<label class="radio-inline">
						<input data-ng-model="project.invoiceWeekStartDay" type="radio" value="Monday"> Monday
					</label>
				</div>

				<label class="form-group">Invoice Prefix(i.e. GP- for invoice numbers GP-001, GP-002 etc)
					<div class="controls">
						<input type="text" data-ng-model="project.invoicePrefix" class="form-control" placeholder="Client">
					</div>
				</label>

				<label class="form-group">Invoice Due Net (To fill due date in invoice)
					<div class="controls">
						<select class="form-control" data-ng-model="project.netDue">
							<option value="15">Net 15</option>
							<option value="30">Net 30</option>
							<option value="45">Net 45</option>
							<option value="60">Net 60</option>
							<option value="75">Net 75</option>
							<option value="90">Net 90</option>
						</select>
					</div>
				</label>

                <label class="form-group">Client
                    <div class="controls">
                        <input type="text" data-ng-model="project.client" class="form-control" placeholder="Client">
                    </div>
                </label>

                <div class="form-group">
                    <label>Client Location</label>
                        <div class="controls">
                            <input type="text" data-ng-model="project.location.line1" class="form-control" placeholder="Line 1">
                            <input type="text" data-ng-model="project.location.line2" class="form-control" placeholder="Line 2">
                            <input type="text" data-ng-model="project.location.city" class="form-control" placeholder="City">
                            <input type="text" data-ng-model="project.location.state" class="form-control" placeholder="State">
                            <input type="text" data-ng-model="project.location.zip" class="form-control" placeholder="Zip Code">
                            <input type="text" data-ng-model="project.location.country" class="form-control" placeholder="Country">
                        </div>
                </div>

                <div oi-arrayfield model="project.rate" type="text" title="Rate" fields="[{name:'rate', type:'number'},{name:'effectiveDate', type:'date'}]"></div>

                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>