<section data-ng-controller="ProjectsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Projects</h1>
    </div>
	<div class="well well-sm">
		Filter: <input class="form-control" ng-model="filterText" />
	</div>
    <div class="list-group">
        <div data-ng-repeat="project in projects|filter:filterText | orderBy: 'user.displayName'"  class="list-group-item">
			<a data-ng-href="#!/projects/{{project._id}}">
				<h4 class="list-group-item-heading">
					{{project.user.displayName }} - {{project.vendor.name}} - {{project.client}}
				</h4>
			</a>
			<div>Last Invoice Generated on: </div>
			<a href="#!/invoices/create/{{project._id}}">Create Invoice</a>
        </div>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!projects.$resolved || projects.length">
    	No Projects yet, why don't you <a href="/#!/projects/create">create one</a>?
    </div>
</section>
